<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882230931886-bi6f8lp6j3sd4s69ctp8ku9k76r5ni1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882230931886-bi6f8lp6j3sd4s69ctp8ku9k76r5ni1l</string>
	<key>API_KEY</key>
	<string>AIzaSyBJUmZ4XmSamCtAw4ZDF5M9MK-bXAT0oSU</string>
	<key>GCM_SENDER_ID</key>
	<string>882230931886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkayuysak.PrinterCostCalculator</string>
	<key>PROJECT_ID</key>
	<string>printercostcalculator</string>
	<key>STORAGE_BUCKET</key>
	<string>printercostcalculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882230931886:ios:418a4148bcbb0bf7bb983f</string>
</dict>
</plist>